*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
    
.head  {
    /* height: 200px; */

    width: 100%;
    background-color:rgba(9, 24, 33, 0.664) ;
    
    
    
   
    

}
.menulist ul li{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.bar a{
    
    color: white;
    margin: 10px;
    padding: 10px;
   
}
.main{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px ;
    padding: 10px;
    background-color: azure;

}
.leftContent{
    height: 70vh; 
    width: 500px;
    /* display: flex; */
    /* align-items: center; */
    border: 2px solid rgb(21, 18, 18);
   


}
 .midContent{
    height: 70vh;
    width: 500px;

    
    border: 2px solid rgb(21, 18, 18);

}

.rightContent{
    height: 70vh;
    width: 500px;
   
    border: 2px solid rgb(26, 25, 25);

}
a:hover{
    color: black;
   
    
   
}